.Deck {
    text-align: center;
}

.Deck-give {
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    margin: 0 10px;
}

.Deck-give:hover {
    cursor: pointer;
    background-color: grey;
}

.Deck-give:active,
.Deck-give:focus {
    outline: none;
}

.Deck-cardarea {
    margin-top: 80px;
}